

.d-flex{
    display: flex;
}

.maincontainer{
    background-color: rgb(38, 60, 99);
    justify-content: center;
}

.container{
    width: 85%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square{
    width: 10%;
    height: 100px;
    padding: 6px;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(114, 124, 214);
    border: 1px solid grey;
}

.square-fizzbuzz{
    width: 10%;
    height: 100px;
    padding: 6px;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(110, 32, 116);
    border: 1px solid grey;
}

.square-fizz{
    width: 10%;
    height: 100px;
    padding: 6px;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(115, 201, 222);
    border: 1px solid grey;
}

.square-buzz{
    width: 10%;
    height: 100px;
    padding: 6px;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(115, 222, 131);
    border: 1px solid grey;
}
