

.d-flex{
    display: flex;
}

.maincontainer{
    background-color: rgb(38, 60, 99);
    justify-content: center;
}

.container{
    width: 85%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square{
    width: 10%;
    height: 100px;
    padding: 6px;
    margin-top: 15px;
    background-color: rgb(115, 128, 222);
    border: 1px solid grey;
}

.fizz{
    background-color: aqua;  
}

.buzz{
    background-color: brown; 
}

.fizzbuzz{
    background-color: blueviolet;
}